/* 基础色 */
$white: #fff;
$red:#e72418;
$yellow : #fcc800;
$black:#6b6b6b;

/* 字号 */
$f10:10px;
$f11:11px;
$f12:12px;
$f13:13px;
$f14:14px;
$f15:15px;
$f16:16px;
$f16:17px;
$f18:18px;
$f19:19px;
$f20:20px;

/* 图片路径 */
$imgPath : "../assets/img";


/* header */
$header-background-color: $white; 
$header-borderbottom-color: #eee;
$header-title-font: 19px;



$bg-light-gray:#f8f8f8;


$user-input-borderbottom-color:#dcdcdc;


/* reg-form */
$protocal-color:#9d9d9d;
$h5-color:#666;