.login-box{
	text-align:center;

	.BBL-logo{
		height:200px;
		padding-top: 63px;
		i{
			display: inline-block;
			width:65px;
			height:74px;
			background-image:url(../assets/img/BBL-logo.png);
			background-size:100% 100%;
			margin:0 auto;
		}
	}

	.login-input{
		
		.other-option{
			.go-reg{
				float: left;
				color:$yellow;
			}
			.forget-password{
				float: right;
			}
		}

		
	}

}

.user-inputs{
	display: inline-block;
	width:100%;
	height:auto;
	li{
		display: block;
		width:100%;
		height:50px;
		/* 输入框 */
		div.input-box{
			
			height:30px;
			border-bottom:1px solid $user-input-borderbottom-color;
			label{
				width:30px;
				height:30px;
				display: block;
				line-height: 30px;
				text-align: center;
				float:left;
				.iconfont{
					font-size:$f20;
					color:$red;
				}
			}
			
			input{
				border:none;
				outline: none;
				width:85%;
				height:29px;
			}

		
		}
		/* 信息提示 */
		.tip-box{
			width:100%;
			height:24px;
			line-height: 24px;
			font-size:$f12;
			color:$red;
			text-align:left;
			margin-left: 12%;

		}
	}
}