export default {
  // 测试环境
  baseUrl: 'https://h9.ibeibeili.com',
  apiUrl: 'https://h9.ibeibeili.com/api/v1/'
  // 生产环境
  baseUrl: 'https://h5.ibeibeili.com',
  apiUrl: 'https://h5.ibeibeili.com/api/v1/'
}
