.btn.prepare{
  background-color: #fcc800;
}
.btn.rush{
  background-color: #e72418;
}
.btn.full{
  background-color: #00BF00;
}
.btn.payment{
  background-color: #fff;
  color: #6b6b6b;
}
.btn.finish{
  background-color: #979797;
}