body{
  background-color: #f8f8f8;
}

#home .trade-volume .total-num span{
  margin: 0 2px;
}

.user-account .money-operate{
  margin-bottom: 0;
}
.top-box{
  margin-top: 40px;
}
.tabs{
  height: auto
}
.tabs .tab-option span{
  margin-bottom: 0;
}

.btn.prepare{
  background-color: #fcc800;
}
.btn.rush{
  background-color: #e72418;
}
.btn.full{
  background-color: #00BF00;
}
.btn.payment{
  background-color: #fff;
  color: #6b6b6b;
}
.btn.finish{
  background-color: #979797;
}